/* info about me */
#about {
  text-align: left;
  padding: 20px;
}

#summary {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

#title {
  background-color: #deeced;
  text-align: left;
  font-family: title;
}
@font-face {
  font-family: title;
  src: url("/~iste240t51/assets/css/Inconsolata-Regular.ttf");
}

/* center titles and paragraphs */
h4 {
  text-align: left;
}

p {
  text-align: left;
  font-family: title;
  font-size: 16px;
}

/* links */

a {
  color: #00a0b6;
  background-color: #deeced;
  text-decoration: none;
}

a:hover {
  color: #00c0da;
  background-color: #deeced;
  text-decoration: none;
}

a:active {
  color: orange;
  background-color: transparent;
  text-decoration: none;
}

body {
  background-color: #deeced;
  font-family: title;
}

/*menue bar*/
.topnav {
  background-color: #6e878b;
  overflow: hidden;
  top: 0;
  width: 100%;
  margin: 0;
}

.topnav a {
  float: left;
  display: block;
  color: #2c393b;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #6e878b;
  font-size: 17px;
}

.active {
  background-color: #00a0b6;
  color: #deeced;
}

.topnav .icon {
  display: none;
}

.Unix {
  float: left;
  overflow: hidden;
}

.Unix .Unixbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: #2c393b;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.Unix-content {
  display: none;
  position: absolute;
  background-color: #deeced;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.Unix-content a {
  float: none;
  color: #2c393b;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover,
.Unix:hover .Unixbtn {
  background-color: #6e878b;
  color: #deeced;
}

.Unix-content a:hover {
  background-color: #deeced;
  color: #2c393b;
}

.Unix:hover .Unix-content {
  display: block;
}

.Nano {
  float: left;
  overflow: hidden;
}

.Nano .Nanobtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: #2c393b;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.Nano-content {
  display: none;
  position: absolute;
  background-color: #deeced;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.Nano-content a {
  float: none;
  color: #2c393b;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover,
.Nano:hover .Nanobtn {
  background-color: #2c393b;
  color: #deeced;
}

.Nano-content a:hover {
  background-color: #2c393b;
  color: #deeced;
}

.Nano:hover .Nano-content {
  display: block;
}

.Museums {
  float: left;
  overflow: hidden;
}

.Museums .Museumsbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: #2c393b;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.Museums-content {
  display: none;
  position: absolute;
  background-color: #deeced;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.Museums-content a {
  float: none;
  color: #2c393b;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover,
.Museums:hover .Museumsbtn {
  background-color: #6e878b;
  color: #deeced;
}

.Museums-content a:hover {
  background-color: #6e878b;
  color: #deeced;
}

.Museums:hover .Museums-content {
  display: block;
}
