/* When hovering quiz you get pointer turn into hand */
.quiz #quiz {
  cursor: pointer;
}
/* define variables for use globally */
:root {
  --hover-background: #2c393b;
  --darker-bg: #6e878b;
  --lighter-color: #deeced;
  --important-color: #00a0b6;
}

/* info about me */
#about {
  text-align: left;
  padding: 20px;
}

#summary {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

#title {
  background-color: var(--lighter-color);
  text-align: left;
  font-family: title;
}

#hero {
  max-width:100%;
}

body {
  background-color: var(--lighter-color);
}

@font-face {
  font-family: title;
  src: url("/~iste240t51/assets/css/Inconsolata-Regular.ttf");
}

/* center titles and paragraphs */
h4 {
  text-align: left;
}

p {
  text-align: left;
  font-family: title;
  font-size: 16px;
  width: 75%;
}

/* links */

a {
  color: var(--important-color);
  background-color: var(--lighter-color);
  text-decoration: none;
}

a:hover {
  color: #00c0da;
  background-color: var(--lighter-color);
  text-decoration: none;
}

a:active {
  color: orange;
  background-color: transparent;
  text-decoration: none;
}

body {
  background-color: var(--lighter-color);
  font-family: title;
}

footer {
  background: var(--darker-bg);
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}

h1 {
  color: var(--important-color);
}

/*menue bar*/
.topnav {
  background-color: var(--darker-bg);
  overflow: hidden;
  top: 0;
  width: 100%;
  margin: 0;
  height: 3rem;
}

.topnav a {
  float: left;
  display: block;
  color: var(--hover-background);
  text-align: center;
  /* padding: 14px 16px; setting size instead of padding */
  height: 3rem;
  padding: 14px 16px;
  text-decoration: none;
  background-color: var(--darker-bg);
  font-size: 17px;
}

.active {
  background-color: var(--important-color);
  color: var(--lighter-color);
}

.topnav .icon {
  display: none;
}

.nav-content {
  float: left;
  overflow: hidden;
}

.nav-content .nav-button {
  font-size: 17px;
  border: none;
  outline: none;
  color: var(--hover-background);
  padding: 14px 16px;
  height: 3rem;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.nav-drop {
  display: none;
  position: absolute;
  background-color: var(--lighter-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.nav-drop a {
  float: none;
  color: var(--hover-background);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  height: unset;
}

.topnav a:hover,
.nav-content:hover .nav-button {
  /* background-color: var(--darker-bg); */
  background-color: var(--hover-background);
  color: var(--lighter-color);
  cursor: pointer;
}

.nav-drop a:hover {
  background-color: var(--lighter-color);
  color: var(--hover-background);
  cursor: pointer;
}

.nav-content:hover .nav-drop {
  display: block;
}

.Museums {
  float: left;
  overflow: hidden;
}

.Museums .Museumsbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: var(--hover-background);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.Museums-content {
  display: none;
  position: absolute;
  background-color: var(--lighter-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.Museums-content a {
  float: none;
  color: var(--hover-background);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* .topnav a:hover, -- conflicts with nav hovering above */
.Museums:hover .Museumsbtn {
  background-color: var(--darker-bg);
  color: var(--lighter-color);
}

.Museums-content a:hover {
  background-color: var(--darker-bg);
  color: var(--lighter-color);
}

.Museums:hover .Museums-content {
  display: block;
}
/* Styling logo to not conflict with the hovering of other links */
.logo:hover img {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}
.logo img {
  object-fit: scale-down;
  height: 2.5rem;
  width: auto;
  padding: 0.25rem 0.25rem;
}
.logo {
  padding: 0 !important;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.flex-container {
  display: flex;
}
/* need to change quiz styling, currently looks ugly */
.correct {
  background: var(--important-color);
  color: yellow;
}

.incorrect {
  background: var(--important-color);
  color: red;
}
.quiz br {
  display: none;
}
.quiz label {
  display: block;
  margin: 0.5rem;
}
.quiz input[type="radio"] {
  color: var(--important-color);
}

@media only screen and (max-width:700px){
  .navdrop {
    display:block;
  }
}